<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matthew Worthley - Portfolio - @ViewBag.Title</title>
    @Styles.Render("~/Styles/css")
    @Scripts.Render("~/Scripts/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    @*<span class="icon-bar"></span>*@
                    @*<span class="icon-bar"></span>*@
                </button>
                @Html.ActionLink("Matthew Worthley - Portfolio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Experience", "Experience", "Home")</li>
                    <li>@Html.ActionLink("Fractal", "Index", "Fractal")</li>
                    <li><a href="https://github.com/ZeroPoints" target="_blank">GitHub</a></li>
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>


    <footer>
        <div>
            <p>@DateTime.Now.Year</p>
        </div>
    </footer>

    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
